<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <%if(error.length > 0){%>
        <%=error[0]%>
        <%}%>
    <form action="/login" method="POST">
        <label for="username">Username</label><br/>
        <input type="text" name="username"><br/><br/>
        <label for="password">Password</label><br/>
        <input type="password" name="password"><br/><br/>
        <button>Login</button>
    </form>
    <p>Don't you have an account? <a href="/users/register">Register</a></p>
</body>
</html>