<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <main>
        <div class="content">
            <header>
                <h1><%= header %></h1>
            </header>
            <% if(header === 'Login Page') { %>
            <% if (errors) { %>
                <p><%= errors %></p>
            <% } %>
            <form action="/user/login" method="post">
                <label for="email">Email</label><br>
                <input type="email" name="email" id="email"><br>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="pasword"><br>
                <button type="submit">Login</button>
            </form>
            <a href="/user/register">Don't have any account?</a>
            <% } else { %>
            <form action="/user/register" method="post">
                <label for="firstName">First Name</label><br>
                <input type="text" name="firstName" id="firstName"><br>
                <label for="lastName">Last Name</label><br>
                <input type="text" name="lastName" id="lastName"><br>
                <label for="email">Email</label><br>
                <input type="email" name="email" id="email"><br>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="pasword"><br>
                <button type="submit">Login</button>
            </form>
            <a href="/user/login">Have an account?</a>
            <% } %>
        </div>
    </main>
</body>
</html>